<div class="footer">
  <div class="container d-flex justify-content-center fixed-bottom">
    <span class="text-muted">
      <%= current_year %>
      |
      <%= t('.author') %>
      |
      <%= github_url('Eviljadeon', 'TestGuru') %>
      |
      <%= link_to t('.project'), 'https://thinknetica.com', target: '_blank', class: 'text-muted' %>
    </span>
  </div>
</div>
