<h1>All tests</h1>

<% unless @tests.empty?%>
  <table>
    <tr>
      <th>Title</th>
      <th>Level</th>
      <th>Questions count</th>
    </tr>

    <%= render @tests %>
  </table>
<% else %>
  <p>There are no tests here!</p>
<% end %>
